.sup{
    margin: 5%;
}

.valid{
    height: 20vh;
    width: 8vw;
    background-color: green;
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.invalid{
    height: 20vh;
    width: 8vw;
    background-color: tomato;
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.sup button:nth-child(even){
    border: none;
    background-color: tomato;
    color: #fff;
    margin: 4%;
}

.sup button:nth-child(odd){
    border: none;
    background-color: green;
    color: #fff;
    margin: 4%;
}