.main{
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    height: 20vh;
    background-color: #DBDFEA;
    margin: auto;
    margin-top: 2%;
    border: solid 0.5px black;
    border-radius: 20px;
    padding: auto;
}

.main h1{
    color: black;
}

.data button{
    justify-content: space-between;
}