
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;700;800&family=Sintony:wght@400;700&display=swap');


.loginClass{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    width: 130%;
}

.loginForm{
    padding: 11px;
}


.loginImage{
    width:200px;
    height:200px;
    text-align: center;
    margin: 50px;
}
.login_img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6%;    
}
/* #FAF8EF */

.cardBody{
    background-color: #FAF8EF;
    border-radius: 1%;
}


.main{
    display: flex;
    justify-content: space-between;
}

.loginBg{
    background-color: #004643  ;
    width: 50vw;
}

.cardBody h2{
    font-family: 'Sintony', sans-serif;
    font-weight: 700;
}

.cardBody button{
    font-family: 'Sintony', sans-serif;
    font-weight: 700;
}

.cardBody{
    font-family: 'Poppins', sans-serif;
}


/* font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
 */


 .profileBg{
    background-color: #004643;
 }

 .profileCardBg{
    font-family: 'Poppins', sans-serif;
    border-radius: 100%;
    background-color: #fffffe;
   
 }

.logFont {
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 1065px) {
    /* Adjust styles for extra small screens (e.g., smartphones) */
    .w-100 {
     width: 100%;
     background-color: red;
    }
    .login_img img{
        width: 0px;
        height: 0px;
    }
    .loginBg{
        background-color: #004643  ;
        width: 100%;
    }
    .login_img{
        margin-left: 0px;    
    }
  }